[submodule "cadi-libs"]
	path = cadi-libs
	url = ssh://git@c4science.ch/diffusion/1989/cadi-libs.git
[submodule "tequila-epfl"]
	path = tequila-epfl
	url = ssh://git@c4science.ch/diffusion/3429/tequila-epfl.git
[submodule "tequila-perl-client"]
	path = tequila-perl-client
	url = ssh://git@c4science.ch/source/tequila-perl-client.git
[submodule "accred-libs"]
	path = accred-libs
	url = ssh://git@c4science.ch/diffusion/2517/accred-libs.git
